---
import Default from '@astrojs/starlight/components/SocialIcons.astro'
---

<a href="/graph" class="header-cta">
  Open Knotviz
  <span aria-hidden="true" class="header-cta-arrow">→</span>
</a>
<Default><slot /></Default>
